@charset 'utf-8';

$link: #fdfdfd;

@import '~bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Russo+One&display=swap');

@mixin brand-underline {
  text-decoration: none;
  background-repeat: repeat-x;
  background-size: auto 130%;
  background-position: left 26%;
  font-weight: 600;
}

@mixin center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin brand-line-through {
  text-decoration: none;
  background-repeat: repeat-x;
  background-size: auto 37%;
  background-position: left 44%;
}

@mixin background($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// sizes
$menu-height: 46px;
$left-right-padding: 15px;

// colours by http://chir.ag/projects/name-that-color
// gray
$abbey: #4c4c4e;
$black: #000;
$mine_shaft: #242424;
$mine_shaft_transparent: rgba(24,24,24,0.3);
$white: #fff;
// red
$turbo: #4f8df1;
$silver: #C9C9C9;
// green
$apple: #6AB04C;
$lime: #c5ff00;
$limeade: #5CA200;
$verdun-green: #345D04;

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: $white;
}

.block {
  z-index: 1;
  position: absolute;
  padding: 0 $left-right-padding;
}

#about,
#info,
#hours,
#clients,
#contacts {
  width: 100%;
  height: 100%;
}

.about {
  color: $mine_shaft;
  font-weight: 300;
  height: 100vh;
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .columns {
    position: absolute;
    width: 100%;
    left: 300px;
    &:nth-child(3) {
      top: 400px;
    }
    &:nth-child(2) {
      top: 200px;
    }
  }
  
}

#info {
  @include center-block;

  top: 100%;
  background-color: $abbey;
}
#hours {
  @include center-block;

  top: 200%;
  background-color: $abbey;
}

// #clients {
//   top: 300%;

//   & > .columns {
//     height: 50%;
//   }
//   background-color: $abbey;
// }

#contacts {
  @include center-block;

  top: 300%;

  background-color: $abbey;
}

.navbar {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: $mine_shaft_transparent;
}

a.navbar-item:hover {
  background-color: transparent;
}

.navbar-brand-item {
  padding: 0 15px;
  color: $white;
  &:hover {
    @include brand-underline;
    background-image: url(/brand-black-highlight.svg);
  }
}

.navbar-logo-link {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-self: center;
}

.brand-name {
  &:nth-child(n-2) {
    text-align: right;
  }

  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500{
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-900 {
    font-weight: 900;
  }
  

  &-underline {
    text-decoration: line-through;
    text-decoration-color: $silver;
  }
}

.empty-space {
  opacity: 0;
  height: $menu-height;
}

.number-background {
  position: absolute;
  z-index: -1;
  color: rgba(230, 230, 230, 0.219);
  user-select: none;
  font-weight: 600;
}

.sn-link {
  font-weight: 400;
  color: $black;

  &:hover {
    color: $white;
  }
}

.client-title {
  display: inline-block;
}

.client-text {
  font-weight: 100;

  & > li {
    list-style-type: none;

    &::before {
      content: "+";
      font-family: 'Lato', sans-serif;
      color: $black;
      font-weight: 100;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.column-links {
  background-color: $silver;
}

// desktop
@media screen and (min-width: 1024px) {
  #clients {
   
  }

  .column-title {
    margin-bottom: 2rem;
  }

  .column-links {
    margin: 2rem;
  }

  .envelope, .instagram {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    vertical-align: middle;
  }
}

// touch
@media screen and (max-width: 1023px) {
  .column-title {
    margin-bottom: 1rem;
  }

  .column-links {
    margin: 1rem;
  }

  .envelope, .instagram {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

// tablet and desktop
@media screen and (min-width: 600px) {
  .number-background {
    font-size: 12rem;
  }

  .client-content {
    margin-top: 70px;
    margin-left: 50px;
  }

  .info-column {
    width: 750px;
    padding: 30px 100px;
    border: 40px solid $silver;
  }
  .hours-column {
    width: 750px;
    padding: 30px 100px;
    border: 40px solid $silver;
  }
}

// mobile
@media screen and (max-width: 601px) {
  .number-background {
    font-size: 6rem;
  }

  .client-content {
    margin-top: 35px;
    margin-left: 25px;
  }

  .info-column {
    padding: 75px 0;
    border-top: 20px solid $silver;
    border-bottom: 20px solid $silver;
  }
  .hours-column {
    padding: 75px 0;
    border-top: 20px solid $silver;
    border-bottom: 20px solid $silver;
  }
}

// small mobile
@media screen and (max-width: 390px) {
  .is-size-7-small-mobile {
    font-size: 0.75rem !important;
  }
}

// brand higlights made by https://vectr.com/
.brand-turbo-underline {
  @include brand-underline;
  background-image: url(/brand-silver-highlight.svg);
  &-white{
    color:$white
  }
}

.brand-red-underline{
  // brand higlights made by https://vectr.com/
  @include brand-underline;
  background-image: url(/brand-red-highlight.svg);
  &-white{
    @include brand-underline;
    background-image: url(/brand-red-highlight.svg);
    color:$white
  }
}

.brand-silver-underline {
  @include brand-underline;
  background-image: url(/brand-silver-highlight.svg);
  
}
.brand-black-underline {
  @include brand-underline;
  background-image: url(/brand-black-highlight.svg);
  
}